@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
 body {
    margin: 0px;
    padding: 0px;
 }

 main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

footer {
    margin-top: 0px;
    margin-bottom: relative;
    margin-left: 0px;
    margin-right: 0x;
    background-color: lightgreen;
    font-size: larger;
    padding: 30px
}

nav {
border-bottom: 1px solid rgb(0, 0, 0);
padding: 16px;
}

a {
    text-decoration-line: none;
}

a:hover {
    color: yellow;
}

header {
    background-color: rgb(226, 36, 36);
}

.tacos {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 10 px;
    grid-template-columns: repeat(3, auto);
    column-gap: 30px;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

body {
    background-color: peachpuff;
}

table, th, td {
    border: 1px solid;
}
